.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20211118/pngtree-technology-round-dashboard-image_908915.jpg');
}

mat-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  height: 80px;
  margin-bottom: 10px;
}

h2 {
  margin: 0;
  font-weight: bold;
  color: #3f51b5;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
}

hr {
  margin: 20px 0;
}
