<app-header></app-header>
<section id="specials" class="specials">
    <style>
#specials.specials {
list-style: none;
margin-top: 30px;
}

#specials.specials p::before {
content: "\2022";
color: red;
font-weight: bold;
display: inline-block; 
width: 1em;
margin-left: -1em;
}
</style>

  <div class="container">

    <div class="section-title">
      <h2>GST Registration & Return Filing By <span style="color:#e84545">MyTaxFinder</span></h2>
      <p>"Discover Our Signature Services: Fastest Growing Tax E-filing platform in India".</p>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">GST Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">GST Return for Freelancers/Traders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Annual Return Filing of Regular Dealer/Composite Dealer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">GST Credit Reconciliation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">GST Return for Composite Dealer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-6">LUT Filing</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>GST Registration <span style="color:#e84545">Rs.1000</span></h3>
                <!-- <p class="fst-italic">Single & Multiple Employers.</p> -->
                <p>Application for GST Registration</p>
                <p>Application for Clarification</p>
                <p>Any modification in GST Registration Application</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <!-- <img src="https://img.freepik.com/premium-photo/thai-traditional-therapy-spine-legs-shocking-strong-massage_274719-370.jpg?w=2000" alt="" class="img-fluid"> -->
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>GST Return for Freelancers/Traders <span style="color:#e84545"> Rs.1500 </span></h3>
                <p>GSTR-1 Return Filing.</p>
                <p>GSTR-3B Return Filing.</p>
                <p>Credit Reconciliation (Reconciliation of Purchase Register and GSTR-2A).</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReBtlZSb1LOPxY1eWpBU1IT61KloH_Dp91BQ&usqp=CAU" alt="" 
                class="img-fluid"> -->
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Annual Return Filing of Regular Dealer/Composite Dealer. <span style="color:#e84545"> Rs.15000</span> </h3>
                <p>Filing of GSTR-9 Return</p>
                <p>Filing of GSTR-9C (Reconciliation Statement)</p>
                <p>GSTR-9A Filing Composite Dealer</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbdk0S-CczEuHRTgr_snXi_WvBBj82C7qAGQ&usqp=CAU" alt="" class="img-fluid"> -->
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>GST Credit Reconciliation <span style="color:#e84545">Rs. 5000 </span></h3>
                <p>GSTR-2A and Purchase Register Reconciliation for an entire month/year</p>
                <p>Automated follow up with Supplier to file GST Return</p>
                <p>Reconciliation Report</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS86boxPbDCcmhHIp0kd1U5gkQ09MT98dDtfg&usqp=CAU" alt="" 
                class="img-fluid"> -->
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>GST Return for Composite Dealer <span style="color:#e84545">Rs: 4000</span></h3>
                <p>CMP-08 Filing</p> 
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCe0PP3g7gFMvLMuMbGiB3ap4r13HGIZTpmw&usqp=CAU" alt="" 
                class="img-fluid"> -->
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-6">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>LUT Filing <span style="color:#e84545">Rs: 1500</span></h3>
                <p>Filing of LUT</p> 
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCe0PP3g7gFMvLMuMbGiB3ap4r13HGIZTpmw&usqp=CAU" alt="" 
                class="img-fluid"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<app-footer></app-footer>
