.btn {
    padding: 4px 10px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mat-icon {
    font-size: 20px; /* Adjust size */
  }
  