/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  margin: 0px;
  padding: 20px;
}

/* Container for the table */
.table-container {
  // margin-top: 77px;
  // margin-bottom: 80px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px; /* Increased padding for a more spacious feel */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the accordion button */
.accordion-button {
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none;
  padding: 15px 20px; /* Added horizontal padding for spaciousness */
  text-align: left;
  font-size: 18px; /* Slightly larger font size for better readability */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  width: 100%;
  outline: none;
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px; /* Space between buttons */
}

/* Hover effect for the accordion button */
.accordion-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Styles for the accordion body */
.accordion-body {
  padding: 15px 20px; /* Added padding for better spacing */
  display: none; /* Initially hidden */
  background-color: #e7f0ff; /* Light blue background */
  transition: max-height 0.3s ease, padding 0.3s ease; /* Smooth transitions */
  border: 1px solid #007bff; /* Blue border */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 15px; /* Space below accordion body */
}

/* Active activity styles */
.activity-item {
  background-color: #cce5ff; /* Lighter blue for each activity */
  border-radius: 3px; /* Rounded corners */
  padding: 10px;
  margin-bottom: 5px; /* Spacing between activities */
  transition: background-color 0.3s; /* Smooth background color change */
}

/* Hover effect for activity items */
.activity-item:hover {
  background-color: #b3d7ff; /* Darker shade on hover */
}

/* Heading styles */
.tax-title {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically, if applicable */
  color: #333; /* Text color */
  font-size: 24px; /* Font size */
  margin-bottom: 20px; /* Space below the heading */
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
  .accordion-button {
    font-size: 16px; /* Responsive font size */
  }
  
  .accordion-body {
    padding: 10px; /* Reduce padding for smaller screens */
  }
  
  .activity-item {
    padding: 8px; /* Adjust padding for smaller screens */
  }
}


