<app-header></app-header>

<div class="table-container">
    <h2>Tax Activity by Region</h2>
  
    <table class="tax-table">
      <thead>
        <tr>
          <th>Region</th>
          <th>Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>New Zealand (NZ)</td>
          <td>Advance Tax</td>
        </tr>
        <tr>
          <td>New Zealand (NZ)</td>
          <td>Corporate Income Tax</td>
        </tr>
        <tr>
          <td>New Zealand (NZ)</td>
          <td>GST</td>
        </tr>
        <tr>
          <td>Singapore (SG)</td>
          <td>Advance Tax</td>
        </tr>
        <tr>
          <td>Singapore (SG)</td>
          <td>Corporate Income Tax (Form C- C/S)</td>
        </tr>
        <tr>
          <td>Singapore (SG)</td>
          <td>GST</td>
        </tr>
        <tr>
          <td>France (FR)</td>
          <td>Corporate Income Tax (Liasse Fiscale)</td>
        </tr>
        <tr>
          <td>France (FR)</td>
          <td>VAT Intrastat and Intracommunity</td>
        </tr>
        <tr>
          <td>France (FR)</td>
          <td>Advance Tax</td>
        </tr>
        <tr>
          <td>Netherlands (NL)</td>
          <td>Corporate Income Tax (Vennootschapsbelasting)</td>
        </tr>
        <tr>
          <td>Netherlands (NL)</td>
          <td>Advance Tax</td>
        </tr>
        <tr>
          <td>Netherlands (NL)</td>
          <td>VAT Intrastat and Intracommunity</td>
        </tr>
        <tr>
          <td>Belgium (BE)</td>
          <td>VAT Intrastat and Intracommunity</td>
        </tr>
        <tr>
          <td>Belgium (BE)</td>
          <td>Corporate Income Tax (AANGIFTE IN DE VENNOOTSCHAPSBELASTING)</td>
        </tr>
        <tr>
          <td>United Kingdom (UK)</td>
          <td>VAT</td>
        </tr>
        <tr>
          <td>United Kingdom (UK)</td>
          <td>Corporate Income Tax (CT-600)</td>
        </tr>
        <tr>
          <td>United Kingdom (UK)</td>
          <td>Advance Tax</td>
        </tr>
        <tr>
          <td>United Kingdom (UK)</td>
          <td>Tax Provision</td>
        </tr>
        <tr>
          <td>Mexico</td>
          <td>MX VAT (IVA personas morales) VAT withholding</td>
        </tr>
        <tr>
          <td>Mexico</td>
          <td>MX Advance Tax and Annual Corporate Income Tax (ISR personas morales)</td>
        </tr>
        <tr>
          <td>Mexico</td>
          <td>MX Informative return (DISSIF)</td>
        </tr>
        <tr>
          <td>Mexico</td>
          <td>Appendix 9 (TP return)</td>
        </tr>
        <tr>
          <td>Mexico</td>
          <td>DIOT Vendor Filing</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-footer></app-footer>