<app-header></app-header>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Privacy Policy</h2>
        </div>
        <div class="card-body">
            <p class="card-text">Welcome to MyTaxFinder! This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website, www.mytaxfinder.com.</p>
  
            <h4>1. Information We Collect</h4>
            <p>We collect personal information that you provide to us directly, such as your name, email address, and any other information you submit through our website.</p>
  
            <h4>2. Use of Information</h4>
            <p>Your information is used for providing our services, communicating with you, improving our website, and processing transactions.</p>
  
            <h4>3. Cookies</h4>
            <p>We use cookies and similar tracking technologies to monitor activity on our website and store certain information. By accessing our website, you agree to the use of cookies in accordance with our Privacy Policy.</p>
  
            <h4>4. Data Security</h4>
            <p>We take appropriate security measures to protect your information from unauthorized access, alteration, disclosure, or destruction.</p>
  
            <h4>5. User Comments</h4>
            <p>Our website may allow users to post comments. We do not filter, edit, publish, or review these comments prior to their appearance on the site. You are responsible for the content of your comments.</p>
  
            <h4>6. Changes to This Privacy Policy</h4>
            <p>We may update our Privacy Policy from time to time. Any changes will be posted on this page, and we encourage you to review it periodically.</p>
  
            <h4>7. Contact Us</h4>
            <p>If you have any questions about this Privacy Policy, please contact us at: <a href="mailto:info&#64;mytaxfinder.com">info&#64;mytaxfinder.com</a></p>
        </div>
    </div>
</div>
<app-footer></app-footer>
