<app-header></app-header>

<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">

  <div class="container">
    <div class="section-title">
      <h2>Financial Planning By<span class="spanText">MyTaxFinder</span></h2>
      <p>"Discover Our Signature Services: Fastest Growing Tax E-filing platform in India".</p>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">FINANCIAL PLANNER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">PORTFOLIO REVIEW</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>FINANCIAL PLANNER <span class="spanText">Rs.7500</span></h3>
              <p>Financial planning is the process of setting and achieving financial goals through the careful management of one's finances. It 
                    involves identifying financial objectives, analyzing current financial resources, and developing a plan to reach those objectives 
                    within a certain timeframe.</p>
                
                <p><strong>Financial Planner</strong></p>
                <p>Goal Planning</p>
                <p>Retirement Planning</p>
                <p>Insurance Planning</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>PORTFOLIO REVIEW <span class="spanText"> Rs.7500 </span></h3>
                <p>Analyses previous stocks and mutual funds</p>
                <p>Check portfolio health</p>
                <p>Find out which investment is giving you the best result</p>
                <p>Equity</p>
                <p>Mutual Funds</p>
                <p>Check portfolio health</p>
              </div>
           
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>PRIVATE LIMITED COMPANY <span class="spanText"> Rs.15000</span> </h3>
                <p>Registered type of entity with limited liability to the owners and shareholders. Governance under Companies Act 2013.</p>
               
                <p><strong>Ownership</strong></p>
                <p>Future & Options</p>
                <p>Min 2 Directors</p>
                <p>Min 2 Shareholders</p>
                <p>Max 15 Directors</p>
                <p><strong>For One Person Company</strong></p>
               
                <p>1 Director</p>
                <p>1 Nominee Director</p>
                <p><strong>Documentation</strong></p>
                
                <p>MOA</p>
                <p>AOA</p>
                <p>Incorporation Certificate</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Salary & Bussiness Income <span class="spanText">Rs. 4000 </span></h3>
                <p>Single & Multiple Employers.</p>
                <p>Business & Professional Income (Non Audit) - Without B/S P/L*.</p>
                <p>Income from Other Sources.</p>
                <p>Agriculture Income.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Tax Planning <span class="spanText">Rs: 7500</span></h3>
                <p>Maximize your financial potential with Us.</p>
                <p>Generate an in-depth tax report based on your investments.</p> 
                <p>Get detailed guidance on investments that will help reduce your tax liabilities.</p> 
                <p>Receive expert guidance tailored to your specific needs All types of tax planning in one place (Individual, Business, NRI, Capital
                 Gain).</p> 
                <p>Step by step tax planning strategy for single taxpayer Extensive overview on income sources (only for current financial year).</p>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Specials Section -->

<app-footer></app-footer>