
<app-header></app-header>

<main id="main">

  <!-- Hero Section - Home Page -->
  <section id="hero" class="hero">

    <img src="assets/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h2 data-aos="fade-up" data-aos-delay="100">Welcome to MyTax<span style="color: #e84545;">Finder</span></h2>
          <p data-aos="fade-up" data-aos-delay="200"><a href="mailto:mytaxfinder@hotmail.com"
              style="color: #e84545; text-decoration: none;">
              E-File Now for Assessment year 2024-25</a></p>
        </div>
        <div class="col-lg-5">
          <form class="sign-up-form d-flex"  data-aos-easing="ease">
            <input class="form-control" placeholder="Enter email address" required>
            <a class="btn btn-primary" href="mailto:mytaxfinder@hotmail.com"
              style="color: white; text-decoration: none;">Submit </a>
          </form>
        </div>

      </div>
    </div>

  </section><!-- End Hero Section -->

  <!-- Clients Section - Home Page -->
  <section id="clients" class="clients">

    <div class="container-fluid" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/client-1.png" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/client-2.png" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/client-3.png" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/client-4.png" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/client-5.png" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="assets/client-6.png" class="img-fluid" alt="">
        </div><!-- End Client Item -->

      </div>

    </div>

  </section><!-- End Clients Section -->

  <!-- About Section - Home Page -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-xl-center gy-5">

        <div class="col-xl-5 content">
          <h3>About Us</h3>
          <h2>MyTax<span style="color: #e84545;">Finder</span> is one of the renowned Tax Advisory Firm in Delhi.</h2>
          <p>MyTaxFinder offer all types of Financial Products under one roof.

            The Management team has more than 7 years of experience in financial sector.

            The Firm is well equipped to provide scientific updated technology based portfolio advice to all its
            clients to save taxes and plan their financial goals.</p>
          <a href="tel:+919958588826" class="read-more"><span>Call To Action &nbsp;</span><span
              style="font-size: 24px;">&#x260E;</span></a>
        </div>

        <div class="col-xl-7">
          <div class="row gy-3 icon-boxes">

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <i class="bi bi-file-earmark-check"></i>
                <h3>250 <span style="color: red;"> &nbsp;+</span></h3>
                <p>Invoices Uploaded</p>
              </div>

            </div> <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <i class="bi bi-clipboard-pulse"></i>
                <h3>1M <span style="color: red;"> &nbsp;+</span></h3>
                <p>Businesses visible</p>
              </div>
            </div> <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box">
                <i class="bi bi-cash-stack"></i>
                <h3>₹100K <span style="color: red;"> &nbsp; + </span></h3>
                <p>Trade Value Filled</p>
              </div>
            </div> <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                <i class="bi bi-person"></i>
                <h3>5,000 <span style="color: red;"> &nbsp; + </span></h3>
                <p>Retail Customers</p>
              </div>
            </div> <!-- End Icon Box -->

          </div>
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- Stats Section - Home Page -->
  <section id="stats" class="stats">

    <img src="assets/stats-bg.jpg" alt="" data-aos="fade-in">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter">1500</span>
            <p>Clients</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter">25</span>
            <p>Reviews</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter">07</span>
            <p>Year Of experience</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter">1500</span>
            <p>Works Completed</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>

  </section><!-- End Stats Section -->

  <!-- Services Section - Home Page -->
  <section id="services" class="services">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Fastest Growing Tax e-filing platform in India</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
              <h4 class="title"><a routerLink="/services-details" class="stretched-link">ITR Filing Services</a></h4>
              <p class="description">Effortlessly file your income tax returns and stay tax compliant with our
                reliable ITR Filing
                Services.</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
            <div>
              <h4 class="title"><a routerLink="/gstRegistrationAndReturn" class="stretched-link">GST Registration &
                  Return
                  Filing</a></h4>
              <p class="description">Streamline your business operations and stay compliant with GST regulations with
                our
                hassle-free GST Registration services.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
            <div>
              <h4 class="title"><a routerLink="/taxPlanning" class="stretched-link">Tax Planning</a></h4>
              <p class="description">Secure your financial future and minimize your tax liabilities with our expert
                Tax Planning
                services tailored to your unique needs and goals.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
            <div>
              <h4 class="title"><a routerLink="/accountingService" class="stretched-link">Accounting Services</a>
              </h4>
              <p class="description">Stay on top of your business finances and make informed decisions with our
                comprehensive
                Accounting Services designed to streamline your bookkeeping and financial reporting processes.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="500">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
            <div>
              <h4 class="title"><a routerLink="/BusinessRegistration" class="stretched-link">Businesses Registration</a>
              </h4>
              <p class="description">Business services" is a broad term these services are essential for the smooth
                functioning and growth of companies
                across various industries.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
            <div>
              <h4 class="title"><a routerLink="/FinancialPlanning" class="stretched-link">Financial Planning</a></h4>
              <p class="description">Financial planning is a comprehensive process that involves evaluating an
                individual's or an
                organization's current financial situation, setting financial goals, and developing strategies to
                achieve those
                goals.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section>

  <!-- End Services Section -->



  <!-- Testimonials Section - Home Page -->
  <section id="testimonials" class="testimonials">

    <div class="container">

      <div class="row align-items-center">

        <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
          <h3>Committed <br> to security</h3>

          <p>
            We value your data as if it were ours. All our certifications and licenses, including GSP, were awarded
            after rigorous
            scrutiny of our systems and multiple VAPT audits.
          </p>
        </div>

        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

          <div class="swiper">
          
            <div class="swiper-wrapper">

              <div class="col-4-image">
                <div class="col-4-image">
                  <img src="assets/committe-security.png" class="testimonial-img flex-shrink-0"
                    alt="">

                </div>
              </div>
              <!-- End testimonial item -->

            </div>

            <div class="swiper-pagination"></div>
          </div>

        </div>

      </div>

    </div>

  </section><!-- End Testimonials Section -->

  <!-- Faq Section - Home Page -->
  <section id="faq" class="faq">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="content px-xl-5">
            <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
          </div>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

          <div class="faq-container">
            <div class="faq-item faq-active">
              <h3><span class="num">1.</span> <span>What is e Filing of income tax return (ITR)?</span></h3>
              <div class="faq-content">
                <p>Individuals, except senior citizens, have to mandatorily file the ITR through the online mode which
                  is also known as electronic filing, i.e. e-filing of the income tax return.

                  An income tax return is a form that a person is required to submit to the Income Tax Department. It
                  contains information related to individual’s income and taxes paid, starting from 1st April to 31st
                  March of the financial year. There are seven ITR forms prescribed by the Income Tax Department
                  according to the amount of income, income source and the category to which the taxpayer belongs.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">2.</span> <span>Who should file an ITR??</span></h3>
              <div class="faq-content">
                <p>Any individual whose total income before deductions exceeds the basic exemption limit is required
                  to file an
                  ITR. The exemption limit can vary based on age and other factors.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">3.</span> <span>How can you file an income tax return in India?</span></h3>
              <div class="faq-content">
                <p>You can file your income tax returns online, either on the income tax department’s website or with
                  us at www.MyTaxFinder.com Income
                  Tax filing or e-filling is made easy on MyTaxFinder. You can e-file your returns with us. Also, note
                  that the due date to e-file
                  your income tax returns for the assessment year 2023-24 is on or before 31st July 2023.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">4.</span> <span>How can I claim deductions for tax saving?</span></h3>
              <div class="faq-content">
                <p>To claim these deductions, individuals need to declare them while filing their Income Tax Return
                  (ITR). It's
                  important to keep proper documentation, such as investment receipts, premium payment receipts, and
                  loan
                  statements, to substantiate the claims.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <h3><span class="num">5.</span> <span>How to e-verify my ITR?</span></h3>
              <div class="faq-content">
                <p>To e-verify your Income Tax Return (ITR) in India, you can choose from several methods.
                  E-verification is a
                  convenient and secure way to confirm the authenticity of your ITR filing. E-verify via Net Banking,
                  E-verify
                  via Aadhaar OTP, E-verify via Bank ATM, E-verify via Bank Account, E-verify via Electronic
                  Verification Code 
                  (EVC).</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div>
      </div>

    </div>

  </section><!-- End Faq Section -->


  <!-- Call-to-action Section - Home Page -->
  <section id="call-to-action" class="call-to-action">

    <img src="assets/cta-bg.jpg" alt="">

    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-10">
          <div class="text-center">
            <h3>Call To Action</h3>
            <p>Don't let taxes be a headache. Let us guide you through a seamless filing experience.<br> Your
              financial peace of
              mind is just a click away!</p>
            <a class="cta-btn" href="tel:+919958588826">Call To Action</a>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Call-to-action Section -->



  <!-- Testimonials Section - Home Page -->
  <section id="testimonials" class="testimonials">

    <div class="container">

      <div class="row align-items-center">

        <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
          <h3>Testimonials</h3>
          <p>"Discover the heartfelt experiences and stories shared by our valued clients, expressing their
            satisfaction and trust in our services."
          </p>
        </div>

        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
          <swiper-container class="swiper" pagination-clickable="true" pagination="true" speed="1000" loop="true" autoplay="true">
           
            <swiper-slide>
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Avichal Singh</h3>
                    <h4>Tcs Founder</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Very good service in Tax filings, Mr deepak has provided all the necessary support and assisted really with the process. Hope to continue with same spirit.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Girish Tarwatkar</h3>
                    <h4>Local Guide</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>My overall experience was really good. They filed my return fast without any doubt. They also helped me to cleared all my doubts before processing income tax return. Strongly recommended. 👍</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Prabhat Kumar</h3>
                    <h4>Store Owner</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>I recently had the pleasure of working with Mr. Deepak to file my income tax return, and I must say that the service I received was truly exceptional. From the moment I reached out for assistance until the completion of the filing process, Deepak demonstrated professionalism, expertise, and a genuine dedication to helping me navigate the complexities of tax filing.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Gaurav Lakhera</h3>
                    <h4>Freelancer</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i 
                      class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>So far, my experience has been smooth and enjoyable overall.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </swiper-slide>

            <swiper-slide>
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="assets/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Vishal Gupta</h3>
                    <h4>Entrepreneur</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Trustworthy, reliable, and awesome services. Highly recommended.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </swiper-slide>
            <!-- Add more slides as needed -->
          </swiper-container>
          
         

        </div>

      </div>

    </div>

  </section><!-- End Testimonials Section -->

  <!-- Recent-posts Section - Home Page -->
  <section id="recent-posts" class="recent-posts">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Recent Posts</h2>
      <p>One stop for everything related to taxes</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
          <article>

            <div class="post-img">
              <img src="assets/blog-1.jpg" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Politics</p> -->

            <h2 class="title">
              <a
                href="https://www.quora.com/What-is-the-role-of-corporate-governance-in-the-Indian-stock-market/answer/MyTaxFinder?ch=10&oid=1477743668705468&share=02e4ddac&srid=5BcU8&target_type=answer">Role
                of corporate governance <br><span style="color: #e84545;"><small>continue..</small></span></a>
            </h2>
          </article>
        </div><!-- End post list item -->

        <div class="col-xl-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
          <article>

            <div class="post-img">
              <img
                src="https://media.istockphoto.com/id/1444917279/photo/notepad-with-notes-hra-hsa-fsa-and-question-mark.jpg?b=1&s=170667a&w=0&k=20&c=31cBJjBVtDzp8fTJ0kDMO1Nk7jWzvCfSthRunOa8QIo="
                alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Sports</p> -->

            <h2 class="title">
              <a
                href="https://www.quora.com/profile/MyTaxFinder/The-House-Rent-Allowance-HRA-is-a-component-of-an-employees-salary-package-which-is-provided-to-cover-the-cost-of-rel">What
                is HRA? <br><span style="color: #e84545;"><small>continue..</small></span></a>
            </h2>
          </article>
        </div><!-- End post list item -->

        <div class="col-xl-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
          <article>

            <div class="post-img">
              <img src="assets/blog-3.jpg" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h2 class="title">
              <a href="https://incometax.quora.com/Is-it-okay-to-show-1-5-lakhs-under-80C-without-any-documents-2">Is
                okay to show
                1.5 lakhs under 80C? <br><span style="color: #e84545;"><small>continue..</small></span></a>
            </h2>
          </article>
        </div><!-- End post list item -->

        <div class="col-xl-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
          <article>

            <div class="post-img">
              <img
                src="https://media.istockphoto.com/id/1310618429/photo/price-of-btc-is-going-to-breakout.jpg?s=612x612&w=0&k=20&c=46lAhJApOlBF32MEZskG8E1HO18JDDLyRPfg9NX_KoE="
                alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Sports</p> -->

            <h2 class="title">
              <a
                href="https://incometax.quora.com/If-I-have-no-income-do-I-still-need-to-file-ITR-to-pay-the-taxes-for-my-crypto-gains-in-India-3">Crypto
                Gains In India<br><span style="color: #e84545;"><small>continue..</small></span></a>
            </h2>
          </article>
        </div><!-- End post list item -->

      </div><!-- End recent posts list -->

    </div>

  </section><!-- End Recent-posts Section -->

  <!-- Contact Section - Home Page -->
  <section id="contact" class="contact">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Feel free to contact us using the information below.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="200">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>C 152 IP Extention</p>
                <p>110092, Delhi</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="300">
                <a href="tel:+919958588826" class="col-md-6">
                  <i class="bi bi-telephone"></i>
                </a>
                <h3>Call Us</h3>
                <p><a href="tel:+919958588826">+919958588826</a></p>
              </div>
            </div>

            <!-- End Info Item -->
           
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <a href="mailto:mytaxfinder@hotmail.com"> <i class="bi bi-envelope"></i></a>
                  <h3>Email Us</h3>
                  <!-- <p><a href="mailto:mytaxfinder@hotmail.com">mytaxfinder@hotmail.com</a></p>
                  <p><a href="mailto:mytaxfinder@hotmail.com">info@mytaxfinder.com</a></p> -->
                </div>
              </div>
           
            <!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="500">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Saturday</p>
                <p>10:00AM - 06:00PM</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>

        <!-- Include jQuery (if not already included) -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <div class="col-lg-6">
          <form action="forms/submit_form.php" method="post" class="php-email-form" data-aos="fade-up"
            data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>
              <div class="col-md-12 text-center">
                <div class="sent-message">Your message has been sent. Thank you!</div>
                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>
        </div>

      </div>

    </div>

  </section><!-- End Contact Section -->


</main>


<app-footer></app-footer>



<!-- Preloader -->
<div id="preloader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

