<app-header></app-header>

<div id="booking" class="section" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" formControlName="firstName" placeholder="First Name" required>
                  <span class="form-label">First Name</span>
                  <div *ngIf="myForm.controls['firstName'].invalid && (myForm.controls['firstName'].dirty || myForm.controls['firstName'].touched)">
                    <small class="text-danger" *ngIf="myForm.controls['firstName'].errors?.['required']">First Name is required.</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" formControlName="lastName" placeholder="Last Name" required>
                  <span class="form-label">Last Name</span>
                  <div *ngIf="myForm.controls['lastName'].invalid && (myForm.controls['lastName'].dirty || myForm.controls['lastName'].touched)">
                    <small class="text-danger" *ngIf="myForm.controls['lastName'].errors?.['required']">Last Name is required.</small>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control" formControlName="documentType" required>
                    <option value="">Select Document Type</option>
                    <option>PDF</option>
                    <option>JPEG</option>
                    <option>Excel</option>
                    <option>Word</option>
                  </select>
                  <span class="form-label">Document Type</span>
                  <div *ngIf="myForm.controls['documentType'].invalid && (myForm.controls['documentType'].dirty || myForm.controls['documentType'].touched)">
                    <small class="text-danger" *ngIf="myForm.controls['documentType'].errors?.['required']">Document Type is required.</small>
                  </div>
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control" formControlName="serviceType" required>
                    <option value="">Select Service Type</option>
                    <option>GST</option>
                    <option>Company</option>
                    <option>Registration</option>
                    <option>ITR Type</option>
                  </select>
                  <span class="form-label">Service Type</span>
                  <div *ngIf="myForm.controls['serviceType'].invalid && (myForm.controls['serviceType'].dirty || myForm.controls['serviceType'].touched)">
                    <small class="text-danger" *ngIf="myForm.controls['serviceType'].errors?.['required']">Service Type is required.</small>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" formControlName="email" placeholder="mytaxfinder@outlook.com" required>
                  <span class="form-label">Email</span>
                  <div *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)">
                    <small class="text-danger" *ngIf="myForm.controls['email'].errors?.['required']">Email is required.</small>
                    <small class="text-danger" *ngIf="myForm.controls['email'].errors?.['email']">Invalid email format.</small>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
              <div class="form-group">
                <input type="file" class="form-control" (change)="onFileChange($event)" multiple>
                <span class="form-label">Upload Files</span>
                <div *ngIf="myForm.controls['uploadedfile'].invalid && (myForm.controls['uploadedfile'].dirty || myForm.controls['uploadedfile'].touched)">
                  <small class="text-danger" *ngIf="myForm.controls['uploadedfile'].errors?.['required']">File is required.</small>
                </div>
              </div>
            </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" formControlName="contact" placeholder="+91 9955755523" required>
                  <span class="form-label">Contact</span>
                  <div *ngIf="myForm.controls['contact'].invalid && (myForm.controls['contact'].dirty || myForm.controls['contact'].touched)">
                    <small class="text-danger" *ngIf="myForm.controls['contact'].errors?.['required']">Contact number is required.</small>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-btn">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button style="margin-left: 10px; color: antiquewhite;" type="submit" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
