<app-header></app-header>
<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">Terms and Conditions</h2>
      </div>
      <div class="card-body">
        <p class="card-text">Welcome to our website! These terms and conditions outline the rules and regulations for the use of MyTaxFinder's Website.</p>
  
        <h4>1. Introduction</h4>
        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use the website if you do not agree to take all of the terms and conditions stated on this page.</p>
  
        <h4>2. Cookies</h4>
        <p>We employ the use of cookies. By accessing our website, you agreed to use cookies in agreement with our Privacy Policy.</p>
  
        <h4>3. License</h4>
        <p>Unless otherwise stated, MyTaxFinder and/or its licensors own the intellectual property rights for all material on this website. All intellectual property rights are reserved.</p>
  
        <h4>4. User Comments</h4>
        <p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. MyTaxFinder does not filter, edit, publish, or review Comments prior to their presence on the website.</p>
  
        <h4>5. Governing Law</h4>
        <p>These terms and conditions are governed by and construed in accordance with the laws of [Your Country], and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
  
        <h4>6. Changes to Our Terms</h4>
        <p>We reserve the right to amend these terms at any time. Your continued use of the website will signify your acceptance of the revised terms.</p>
  
        <h4>7. Contact Us</h4>
        <p>If you have any questions about these Terms, please contact us at: <a href="mailto:info&#64;mytaxfinder.com">info&#64;mytaxfinder.com</a></p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  